<h1><strong>Kirjaudu sisään</strong></h1>
<p>{{message}}</p>
<form name="loginForm" class="form-group">
    <div class="row">
        <div class="col-md-6">
        <label>Sähköposti</label>
        <input class="form-control" name="email" type="email" ng-model="email" required>
        <span ng-show="loginForm.email.$invalid && loginForm.email.$dirty">
            Sähköposti ei saa olla tyhjä!
        </span>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6">
        <label>Salasana</label>
        <input class="form-control" name="password" type="password" ng-model="password" required>
        <span ng-show="loginForm.password.$invalid && loginForm.password.$dirty">
            Salasana ei saa olla tyhjä!
        </span>
        </div>
    </div>
</form>
<button class="btn btn-primary" type="submit" ng-click="logIn()" ng-disabled="loginForm.$invalid">Kirjaudu sisään</button>