<h1><strong>Lisää elokuva</strong></h1>
<form name="movieForm">
    <div class="form-group" ng-class="{ 'has-error': movieForm.movieName.$invalid && movieForm.movieName.$dirty}">
        <label>Nimi</label>
        <input class="form-control" name="movieName" type="text" ng-model="movieName" required>
        <span ng-show="movieForm.movieName.$invalid && movieForm.movieName.$dirty">
            Nimi ei ole validi!
        </span>
    </div>
    <div class="form-group" ng-class="{ 'has-error': movieForm.movieDirector.$invalid && movieForm.movieDirector.$dirty}">
        <label>Ohjaaja</label>
        <input class="form-control" name="movieDirector" type="text" ng-model="movieDirector" required>
        <span ng-show="movieForm.movieDirector.$invalid && movieForm.movieDirector.$dirty">
            Ohjaajan nimi ei ole validi!
        </span>
    </div>
    <div class="form-group" ng-class="{ 'has-error': movieForm.movieYear.$invalid && movieForm.movieYear.$dirty}">
        <label>Julkaisuvuosi</label>
        <input class="form-control" name="movieYear" type="text" ng-model="movieYear" required ng-pattern="/^\d+$/">
        <span ng-show="movieForm.movieYear.$invalid && movieForm.movieYear.$dirty">
            Vuosi ei ole validi!
        </span>
    </div>
    <div class="form-group" ng-class="{ 'has-error': movieForm.movieDescription.$invalid && movieForm.movieDescription.$dirty}">
        <label>Kuvaus</label>
        <textarea class="form-control" name="movieDescription" type="text" rows="3" ng-model="movieDescription" required></textarea>
        <span ng-show="movieForm.movieDescription.$invalid && movieForm.movieDescription.$dirty">
            Kuvaus ei ole validi!
        </span>
    </div>

    <button class="btn btn-primary" type="submit" ng-click="addMovie()" ng-disabled="movieForm.$invalid">Lisää</button>
</form>

