<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Elokuvakirjasto</title>
    </head>
    <body ng-app="MovieApp">
        <nav>
            <div>
                <a ng-href="#/">Etusivu</a>
                <a ng-href="#/movies">Elokuvat</a>
                <a ng-href="#/movies/new">Lisää uusi</a>
            </div>
            <div>
                <ul>
                    <li><button ng-click="logOut()" ng-if="userLoggedIn()">Kirjaudu ulos</button></li>
                    <li><a ng-href="#/login" ng-if="!userLoggedIn()">Kirjaudu sisään</a></li>
                    <li><a ng-href="#/register" ng-if="!userLoggedIn()">Rekisteröidy</a></li>
                </ul>
            </div>
        </nav>
        <div ng-view></div>

        <!-- Hyödyllisiä kirjastoja -->
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-route/angular-route.min.js"></script>
        <script src="bower_components/firebase/firebase.js"></script>
        <script src="bower_components/angularfire/dist/angularfire.min.js"></script>

        <!-- Linkitä omat tiedostosi tähän (huomaa, että polun juuri on web-kansio!) -->
        <script src="app/app.js"></script>
        <script src="app/services/firebase_service.js"></script>
        <script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
        <script>
                        // Initialize Firebase
                        // TODO: Replace with your project's customized code snippet
                        var config = {
                            authDomain: "elokuvakirjasto-446d1.firebaseapp.com",
                            databaseURL: "https://elokuvakirjasto-446d1.firebaseio.com/movies",
                        };
                        firebase.initializeApp(config);
        </script>
    </body>
</html>